#lightbox {
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#lightbox_inner img {
  max-width: 50vh;
  max-height: 50vh;
}
#lightbox_inner div {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 100%;
  position: absolute;
  bottom: 10%;
  cursor: pointer;
  font-size: 30pt;
  padding: 25px 35px;
}

#lightbox_inner div:hover {
  background-color: rgba(0, 0, 0, 1);
}
@media only screen and (max-width: 600px) {
  #lightbox_inner img {
    max-width: 40vh;
    max-height: 40vh;
  }
  #lightbox_inner div {

  font-size: 25pt;
  padding: 15px 25px;
}
}
