
.credits{
    display: block;
    padding: 10px;
    background-color: #7b6b61;
}
a.credits_mail {
    text-decoration: none;
    color: grey;
    font-family: CormorantGaramond;
    opacity: 1;
    display: flex;
    justify-content:space-around;
    align-items: center;


    font-size: 1em;

    text-align: center;
    color: #fff;

}
a.credits_mail:hover {
    text-decoration: underline;
}
