footer {
    background: #f4eade;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer img {
    width: 100px;
}

footer .footer_desktop {
    display: none;
}

footer .footer_mobile {
    display: block;
}

.footer_mobile {
    --bckg-img: 240px;
    background-color: #f3ebde;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url(/assets/footer_img_transparent.webp);
    background-repeat: no-repeat;
    background-position-x: 240%; /* startuje skroz desno */
    background-position-y: bottom;
    box-sizing: border-box;
    background-size: max(var(--bckg-img));
    transition: background-position-x 1.2s cubic-bezier(0.22, 1.25, 0.55, 0.1);
    height: 85vh;

    padding: 50px;
}

/* Aktivna animacija*/
.footer_mobile.animate-footer {
    background-position-x: right;
    transition-delay: 0.30s;
    cubic-bezier(0.22, 1.25, 0.55, 1);

}

.footer_mobile .footer_text {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 310px;
}

.footer_mobile .footer_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_mobile .footer_content .footer_text h1 {
    font-family: TheSeasonsBold;
    text-align: center;
    color: #745852;
    font-size: 1.9em;
}

.footer_mobile .footer_content .footer_text p {
    font-family: RomateHood;
    text-align: left;
    font-size: 2em;
    color: #745852;
    margin: 10px;
    margin-left: 15px;
}

.footer_mobile .footer_content a.footer_icons {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-decoration: none;
    margin-bottom: calc(var(--bckg-img) - 50px);
    position: relative;
}

.footer_mobile .footer_content a.footer_icons img:nth-child(1) {
    transform: rotate(-50deg) scaleX(-1);
    width: 100px;
    position: relative;
    left: 50%;
    top: 20px;
}

.footer_mobile .footer_content a.footer_icons img:nth-child(2) {
    transform: rotate(20deg);
    position: absolute;
    bottom: -90%;
    left: 0;
}

footer .footer_content a.footer_icons p {
    font-family: CormorantGaramond;
    font-size: 1.5em;
    color: #745852;
    text-align: center;

    background-color: transparent;
    border-radius: 50px;
    padding: 10px;
    background-color: #d6bdae;

    border: none;
}

@media (min-width: 1000px) {
    footer .footer_desktop {
        display: block;

    }

    footer .footer_mobile {
        display: none;
    }

    footer .footer_desktop {
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 70vh;
    }

    footer .footer_desktop .footer_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .footer_desktop .footer_content .footer_text h1 {
        font-family: TheSeasonsBold;
        text-align: center;
        color: #745852;
        font-size: 2.5em;
    }

    footer .footer_desktop .footer_content .footer_text p {
        font-family: RomateHood;
        text-align: left;
        font-size: 3em;
        color: #745852;
        margin: 10px;

    }

    footer .footer_desktop .footer_content a.footer_icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 50px;
        width: 100%;
        text-decoration: none;
        position: relative;
    }

    footer .footer_desktop .footer_content a.footer_icons p {
        font-family: CormorantGaramond;
        font-size: 2em;
        color: #745852;
        text-align: center;
        background-color: #d6bdae;
        padding: 20px;
        border-radius: 50px;
    }

    footer .footer_desktop .footer_content a.footer_icons .icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        position: absolute;
        right: -15%;
        bottom: -35%;
    }

    footer .footer_desktop .footer_content a.footer_icons .icons img:nth-child(1),
    footer .footer_desktop .footer_content a.footer_icons .icons img:nth-child(2) {
        width: 150px;
    }

    footer .footer_desktop .footer_content a.footer_icons .icons img:nth-child(2) {
        transform: rotate(20deg);

    }

    footer .footer_desktop .footer_img {
        width: 300px;
    }

}