footer img{
    width: 100px;
}
footer{
    background-color:#f3ebde;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 80vh;

    background-image: url(/assets/footer_img_transparent.PNG);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    background-position-y: bottom;
    box-sizing: border-box;
    background-size: max(250px);
}
footer .footer_text{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 310px;

}
footer h1{
    font-family: TheSeasonsBold;
    text-align: center;
    color: #745852;
    font-size: 1.9em;
}
/*footer .footer_content{*/
/*    background-image:url(/public/assets/footer_img_transparent.PNG);*/
/*    background-repeat: no-repeat;*/
/*    background-position: right;*/
/*    background-size: contain;*/
/*    box-sizing: border-box;*/

/*    height: 80vh;*/
/*    padding: 20px;*/

/*}*/
footer p{
    font-family: RomateHood;
    text-align: left;
    font-size: 2em;
    color: #745852;
    margin: 10px;

}

footer .footer_content a.footer_icons{

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-decoration: none;
}
footer .footer_content a.footer_icons img:nth-child(2){
    transform: rotate(10deg);
}
footer .footer_content a.footer_icons p{
    font-family: CormorantGaramond;
    font-size: 1.5em;
    color: #745852;
    text-align: center;
}
footer img.footer_img{
    width: 250px;
    position: absolute;
    bottom: 0;
    right:0 ;
}
