body {
  overflow-x: hidden;
}
.comments {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  margin: 0 auto;
  display: flex;

  width: 100%;
  height: 100%;

  --img-dimensions: 250px;
  display: none;
}
.comment img {
  width: 50px;
}
.comment {
  width: 100%;
  height: 100%;
  background-color: #f4eadeda;
  backdrop-filter: blur(10px);

  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 20px;
  border-radius: 50px;
  display: none;
  transform: translateX(-100%);
}
.comment_header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}
.comment_header p {
  font-size: 2em;
  color: #57432a;
  font-weight: 800;
  text-align: center;
  font-family: TheSeasonsBold;
}
.comment_header img {
  width: var(--img-dimensions);
  height: var(--img-dimensions);
}
.comment button {
  position: relative;
  /* bottom: 10px;
  right: 10px; */
  border-radius: 200px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f4eadeec;
  color: black;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;

  border: none;
}
.comment button img{
    width: 30px;
    height: 30px;
}
.comment_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 90%;
}

p.comment_txt {
  font-size: 1em;
  padding: 10px;
  font-family: CormorantGaramond;
}

@keyframes comment_on_stage {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
    display: flex;
  }
}
@keyframes comment_off_stage {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
.comments.active {
  display: block;
}
.comment.active {
  animation: comment_on_stage 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6) forwards;
  display: flex;
}
.comment.off_stage {
  display: flex;
  animation: comment_off_stage 0.4s cubic-bezier(0.55, 0, 0.55, 0.2) forwards;
}

/* ===============RESPONSIVE================ */
@media (min-width: 768px) {
  .comment {
    padding: 30px;
  }
  p.comment_txt {
    font-size: 1.2em;
    padding: 20px;
    font-family: CormorantGaramond;
  }
  .comment button {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .comment_header img {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .comment {
    flex-direction: row;
  }
  p.comment_txt {
    font-size: 1.5em;
  }

  .comment_header p {
    font-size: 2.5em;
  }
  .comment_header img {
    width: 300px;
    height: 300px;
  }
  .comment .comment_rating img {
    width: 80px;
    height: 80px;
  }
}
