.about_me {
  max-width: 100vw;
  height:max-content;
  margin: 50px auto;

  max-width: fit-content;
  background: #f4eade;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
 
}
.about_me_header {
  text-align: center;
  margin: 0 0 20px 0;
  font-weight: 800;
  font-size: 3em;
  color: #57432a;
  font-family: RomateHood;
  position: sticky;
  top: 10px;
} 
.profile_loop_video {
  display: block;
  /* border-radius: 16px; */
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  margin: 0 auto;

  width: 100vw;
  /* height: 90vh; */
  object-fit: contain;
  object-position: center;
  position: sticky;
  top: 10px;
  z-index: 0;
}
.text-scroll {
  width: 100vw;
  font-size: 1em;
  color: #57432a;
  background: transparent;
  z-index: 2;
  background: rgba(255, 248, 241,0.90);
  margin: 0 auto;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  animation: on_stage 2000ms ease-in forwards;
  animation: off_stage 2000ms ease-out reverse;

  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}
.text-scroll p {
  font-family: CormorantGaramond;
  z-index: 3;
  font-size: 1.2em;
  padding: 20px;
}
/*============ ANIMATIONS ============*/
@keyframes on_stage {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes off_stage {
  0% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0.5;
  }
}

