/* mobile first */
.about_me {
  margin-top: 50px;
}

.about_me .about_me_content p.about_me_header {
  text-align: center;
  font-size: 5em;
  font-family: RomateHood;
  padding: 0;
}
.about_me .about_me_content {
  width: 100%;
  background-color: #e8e3de;
  
}
.about_me .about_me_content .page_wrapper p{
  text-align: center;
  font-size: 1.5em;
  line-height: 35px;
  max-width: 1000px;
  margin: 0px auto;
  padding: 30px;
  font-family: "CormorantGaramond";

}

@media (min-width: 768px) {}
@media (min-width: 1200px) {}