/* Default za telefon (mobile-first) */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.content {
  max-height: 100vh;
  margin-bottom: 100px;
}
.content p.content_header {
  margin-top: 120px;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: normal;
  font-family: TheSeasons;
  text-align: right;
}

.content_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 350px;
  max-height: 100%;
  position: relative;
}

.pre_btn,
.nxt_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -15%;
  z-index: 9;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 50%;
  background-color: #e8e3de;
  transition: 0.2s all;
}
.pre_btn:hover,
.nxt_btn:hover {
  background-color: #aca8a5;
  transition: 0.2s all;
}
.pre_btn {
  left: 35%;
}
.nxt_btn {
  right: 35%;
}
.pre_btn img {
  transform: rotate(-90deg);
}

.nxt_btn img {
  transform: rotate(90deg);
}

.pre_btn img,
.nxt_btn img {
  width: 20px;
}

.content_slider {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}

.content_slider::-webkit-scrollbar {
  display: none;
}

.content_card {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  border-radius: 16px;
  overflow: hidden;
  background-color: #e8e3de94;
  padding: 0;
  margin: 0;
  position: relative;
  transition: 0.3s all;
}

/* svi sem tog */
.content_card:hover video {
  transition: 0.3s all;
}
.content_card video {
  width: 90%;
  aspect-ratio: 9 / 16;
  object-fit: cover;
  display: block;
}
p.title {
  font-family: CormorantGaramond;
  font-size: 18pt;
  color: #000000;
  background: #faf9f8;
  background: linear-gradient(
    180deg,
    rgba(250, 249, 248, 1) 0%,
    rgba(250, 249, 248, 1) 30%,
    rgba(250, 249, 248, 0) 100%
  );
  width: 100%;
  padding: 10px 50px 80px;
  border-radius: 12px;
  position: absolute;
  top: 0;
  text-align: center;
  z-index: 5;
}
p.desc {
  font-family: CormorantGaramond;
  color: #000000;
  font-size: 14pt;
  letter-spacing: 1px;
  background: #faf9f8;
  background: linear-gradient(
    0deg,
    rgba(250, 249, 248, 1) 0%,
    rgba(250, 249, 248, 1) 50%,
    rgba(250, 249, 248, 0) 100%
  );
  padding: 80px 50px 10px;
  border-radius: 12px;
  position: absolute;
  bottom: 0;
  text-align: center;
  z-index: 5;
}

.opacity_low {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
  transition: 0.2s all;
}

/* Veći ekran (npr. tablet) */
@media (min-width: 768px) {
  .content_wrap {
    max-width: 650px;
  }

  .pre_btn,
  .nxt_btn {
    top: 50%;
    z-index: 9;
    width: 60px;
    height: 60px;
  }
  .pre_btn {
    left: -11%;
  }
  .nxt_btn {
    right: -11%;
  }
  .content_slider {
    max-width: 100%;
    position: relative;
    gap: 20px;
  }

  .content_card {
    flex: 0 0 calc(50% - 10px); /* 2 kartice po redu, - gap/2 */
  }
}

/* Još veći ekran (npr. desktop) */
@media (min-width: 1200px) {
  .content p.content_header {
    padding: 20px;
    margin-bottom: 10px;
    font-size: 3em;
  }

  .content_wrap {
    max-width: 1100px;
  }
  .pre_btn,
  .nxt_btn {
    top: 50%;
    z-index: 9;
    width: 60px;
    height: 60px;
  }
  .pre_btn {
    left: -10%;
  }
  .nxt_btn {
    right: -10%;
  }

  .content_card {
    flex: 0 0 calc((100% - 40px) / 3); /* 3 kartice + 2x20px gap */
  }

  .content_card {
    flex: 0 0 calc((100% / 3 - 20px));
  }
}
