@font-face {
  font-family: "TheSeasonsBold";
  src: url("/fonts/fonnts.com-The-Seasons-Bold.otf");
}
@font-face {
  font-family: "TheSeasonsLight";
  src: url("/fonts/fonnts.com-The-Seasons-Light.otf");
}
@font-face {
  font-family: "RomateHood";
  src: url("/fonts/RomateHood-p73Ed.otf");
}
@font-face {
  font-family: "CormorantGaramond";
  src: url("/fonts/CormorantGaramond-Regular.ttf");
}
