/* Default za telefon (mobile-first) */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.ugc {
  margin-top: 50px;
  text-align: left;
  max-height: 100vh;
}

.ugc p.ugc_header {
  padding: 20px;
  font-size: 3em;
  font-weight: normal;
  font-family: TheSeasons;
}

.ugc_wrap {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  margin: 30px auto;
  max-width: 350px;
  overflow: hidden;
}

.pre_btn,
.nxt_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  z-index: 9;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 50%;

  background-color: #e8e3de;
  margin: 10px;
  transition: 0.2s all;
}
.pre_btn:hover,
.nxt_btn:hover {
  background-color: #aca8a5;
  transition: 0.2s all;
}
.pre_btn {
  left: 35%;
  bottom: -10%;
}
.nxt_btn {
  right: 35%;
  bottom: -10%;
}
.pre_btn img {
  transform: rotate(-90deg);
}

.nxt_btn img {
  transform: rotate(90deg);
}

.pre_btn img,
.nxt_btn img {
  width: 20px;
}

.ugc_slider {
  display: flex;
  gap: 20px;
  max-width: 100%;

  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ugc_slider::-webkit-scrollbar {
  display: none;
}

.ugc_card {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e8e3de;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.ugc_card video {
  width: 250px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.ugc_card video:hover + p {
  top: -0%;
  transition: 0.2s ease-in-out all;
}

.ugc_card p:nth-child(2) {
  background-color: white;
  font-size: 15pt;
  max-width: 200px;
  margin: 0 auto 10px;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid black;
  margin-bottom: 20px;
  transition: 0.2s ease-in-out all;
  position: relative;
  top: -5%;
}

.ugc_card p:nth-child(3) {
  font-size: 13pt;
  font-family: CormorantGaramond;
  padding: 10px;
  margin-top: -30px;
}
.opacity_low {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
  transition: 0.2s all;
}

/* Veći ekran (npr. tablet) */
@media (min-width: 768px) {
  .ugc_wrap {
    margin: 10px auto;
    max-width: 650px;
  }
  .pre_btn,
  .nxt_btn {
    padding: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #e8e3de;
    margin: 0px;
    top: 50%;
  }
  .pre_btn {
  left: -5%;
}
.nxt_btn {
  right: -5%;
}
  .pre_btn img,
  .nxt_btn img {
    width: 25px;
  }

  .ugc_slider {
    max-width: 650px;
  }
  .ugc_card {
    flex: 0 0 calc((100% - 40px) / 2);
  }
  .ugc_card video {
    width: 290px;
    margin-bottom: 10px;
  }
}

/* Još veći ekran (npr. desktop) */
@media (min-width: 1200px) {


  .ugc {
    margin-top: 80px;
    text-align: left;
    max-height: 100vh;
  }

  .ugc p.ugc_header {
    padding: 20px;
    font-size: 3em;
    font-weight: normal;
    font-family: TheSeasons;
  }

  .ugc_wrap {
    max-width: 1100px;
  }

  .pre_btn {
    left: -2%;
  }
  .nxt_btn {
    right: -2%;
  }

  .ugc_slider {

    max-width: 1050px;
  }

  .ugc_slider::-webkit-scrollbar {
    display: none;
  }

  .ugc_card {
    flex: 0 0 calc((100% - 40px) / 3);

  }

  .ugc_card p:nth-child(2) {
    background-color: white;
    font-size: 15pt;
    max-width: 200px;
    margin: 0 auto 10px;
    padding: 15px;
    border-radius: 50px;
    border: 1px solid black;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out all;
    position: relative;
    top: -5%;
  }

  .ugc_card p:nth-child(3) {
    font-size: 13pt;
    font-family: CormorantGaramond;
    padding: 10px;
    margin-top: -30px;
  }
  .opacity_low {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
    transition: 0.2s all;
  }
}
